/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #467a9c;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #005062;

  /* Font size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* cursor : 글자에 마우스를 올려도 변하지 않는다. */
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  /* test-decoration : 링크에 밑줄 그어지는것 */
}

ul {
  list-style: none;
  /* list-style : li태그의 표시되는 점 */
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
/* 
    flexbox을 위해 제공되는 속성들 꼭 읽어볼것
    http://www.tcpschool.com/css/css3_expand_flexbox
    justify-content : 브라우저 사이와 함께 주위의 콘텐츠 항목의 공간을 배포하는 방법 속성을 정의
        >> 정렬 느낌
*/
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-green);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

/* Home */
#home {
  background: url("imgs/beautiful_sky.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: var(--color-pink);
}
