/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73bdee;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-green: #005062;
  --color-light-pink: #f5afcf;

  /* Font size */
  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

/* cursor : 글자에 마우스를 올려도 변하지 않는다. */
body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  /* test-decoration : 링크에 밑줄 그어지는것 */
}

ul {
  list-style: none;
  /* list-style : li태그의 표시되는 점 */
  padding-left: 0px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
/* 
    flexbox을 위해 제공되는 속성들 꼭 읽어볼것
    http://www.tcpschool.com/css/css3_expand_flexbox
    justify-content : 브라우저 사이와 함께 주위의 콘텐츠 항목의 공간을 배포하는 방법 속성을 정의
        >> 정렬 느낌
*/
#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  color: var(--color-white);
  padding: 16px;
  z-index: 1;
}
#navbar.navbar--dark {
  background-color: var(--color-green);
  opacity: 0.5;
  padding: 4px;
  transition: all var(--animation-duration) ease;
}

.navbar__logo {
  height: 40px;
  line-height: 40px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo a {
  color: var(--color-white);
}

.navbar__menu {
  display: flex;
  height: 100%;
  margin: 0px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 2px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-pink);
  transition: all var(--animation-duration) ease;
}

.navbar__toggle-btn {
  position: absolute;
  line-height: 40px;
  right: 16px;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("imgs/beautiful_sky.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 100px;
  text-align: center;
}

.home__avatar {
  width: 200px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-white);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}
.home__contact:hover {
  background-color: var(--color-pink);
  transition: all var(--animation-duration) ease;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}
/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major__icon:hover > i {
  color: var(--color-pink);
  transform: scale(1.1);
  transition: all var(--animation-duration) ease;
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

.job {
  display: flex;
  align-items: center;
}
.job__logo {
  width: 100px;
  height: 30px;
}
.job__description {
  margin: 0px 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  background-color: var(--color-light-grey);
  margin: 20px 0px;
}

.skillset__title {
  color: var(--color-white);
}

.skill {
  margin-bottom: 24px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  width: 180px;
  height: 40px;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 24px;
  position: relative;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-dark-pink);
  color: var(--color-white);
}

/* All은 항상 숫자가 떠있게 만들고, 나머지들은 hover일 때만 동작 */
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 7px;
}

.category__count {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 20px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.95) translateY(40px);
}
.work__project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  background-color: var(--color-white);
  margin: 10px;
}

.work__project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration);
}

.work__project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.8;
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description span {
  color: var(--color-white);
}

.project__description:after {
  content: "";
  display: block;
  position: relative;
}

.work__project_link {
  font-size: var(--font-large);
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__project_link i {
  color: var(--color-white);
  margin: 0px 10px;
}
.work__project_link i:hover {
  color: var(--color-blue);
  transform: scale(1.1);
  transition: all var(--animation-duration) ease;
}
/* Testimonials */
#testimonials {
  background-color: var(--color-light-white);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0px;
  justify-content: center;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-light-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-pink);
}

/* Contact */
#contact {
  background-color: var(--color-light-pink);
}

.contact__title,
.contact__email a,
.contact__rights p,
.contact__links i {
  color: var(--color-white);
}

.contact__title {
  margin: 16px 0px;
}

.contact__email:hover,
.contact__email a:hover {
  transform: scale(1.1);
  transition: all var(--animation-duration) ease;
  color: var(--color-yellow);
}

.contact__info {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
}
.contact__links {
  display: flex;
  font-size: var(--font-large);
  margin: 0px;
  transition: all var(--animation-duration) ease;
}

.contact__links a {
  margin: 0px 10px;
}

.contact__links i:hover {
  transform: scale(1.3);
  color: var(--color-yellow);
  transition: transform and var(--animation-duration) ease;
}

.contact__rights {
  font-size: var(--font-small);
}

/* Scroll */
.arrow__up-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  padding: 0px;
  text-align: center;
  font-size: var(--font-large);
  font-weight: var(--weight-regular);
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-light-pink);
  border: 1px solid var(--color-light-pink);
  border-radius: 25%;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in;
  pointer-events: none;
}

.arrow__up-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-green);
  }

  .navbar__logo {
    padding: 0px 8px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about__majors {
    margin: 10px;
    flex-direction: column;
  }

  .major {
    margin: 10px;
  }

  .job__logo {
    width: 75px;
    height: 46px;
  }
  .skillset {
    flex-direction: column;
  }

  .work__project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }

  .testimonial__avatar:nth-child(odd),
  .testimonial__avatar:nth-child(even) {
    margin: 0px;
    margin-bottom: 8px;
  }

  .testimonial__speech-bubble {
    order: 1;
  }

  .arrow__up-btn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: var(--font-medium);
  }
}
